<div *ngIf="cart.length == 0;" class="empty-cart-message">Empty cart!</div>

<div *ngIf="cart.length != 0;" class="cart-container">
    <div class="cart-items cart-panel">
        <app-product-item-cart 
        *ngFor="let product of cart" 
        [id]="product.id"
        [imageURL]="product.image"
        [productName]="product.name"
        [price]="product.price"
        [quantity]="product.quantity"
        (removeProduct)="removeProduct($event)"
        (calcTotal)="calculateTotal($event)" ></app-product-item-cart>

        <h1>Total price: {{totalPrice}}$</h1>

        

    </div>
    <form #form="ngForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="name" class="form-label">Full Name</label>
            <input type="text" class="form-control" required minlength="3" id="name" placeholder="Ibrahim Othman" [(ngModel)]="fullName" name="fullName">
            <ul>
                <li>
                    Has to be more than 3 characters
                </li>
            </ul>
        </div>

        <div class="mb-3">
            <label for="address" class="form-label">Address</label>
            <input type="text" class="form-control" required minlength="6" id="address" placeholder="123 Riyadh"  [(ngModel)]="address" name="address">
            <ul>
                <li>
                    Has to be more than 6 characters
                </li>
            </ul>
        </div>

        <div class="mb-3">
            <label for="CC" class="form-label">Credit Card</label>
            <input type="text" class="form-control" required pattern="^([0-9]{16})$" id="CC" placeholder="123412341234" [(ngModel)]="creditCard" name="CC">
            <ul>
                <li>
                    Has to be exactly 16 digits
                </li>
                <li>
                    Accepts only numbers
                </li>
            </ul>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Submit</button>
    </form>
</div>