<div class="confirmation-container">
    <div class="confirmation-items">
        <h1 class="confirmation-header">Success!</h1>
        <div class="confirmation-item">
            Thank you, <b>{{fullName}}</b>
        </div>
        <div class="confirmation-item">
            Your will be charged <b>${{totalPrice}}</b>
        </div>

        <div class="confirmation-item">
            it will take 1 - 3 month(s) for shipping (express delivery)
        </div>
        <div class="confirmation-item">
            <button routerLink="" type="button" class="btn btn-primary">Back to product list</button>
        </div>
    </div>
</div>