<a routerLink=""><div class="back-link">Back to product list</div></a>
<div class="detail-container">
    <div class="detail-item">
        <img src={{product.imageUrl}}/>
        <h2>{{product.name}}</h2>
        <br>
        <div>Price: {{product.price}}$</div>
        <hr>
        <div>Description: {{product.description}}</div>
        <hr>
        <form (ngSubmit)="onSubmit()">Amount:
            <select name="select" [(ngModel)]="quantity" class="form-select select-input" [value]="quantity">
                <option selected>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
            </select>
            <br>
            <button type="submit" class="btn btn-primary ">Add to cart</button>
        </form>
    </div>
</div>
